##################################
# Python
##################################
__pycache__/
*.py[cod]
*.so
*.egg
*.egg-info/
dist/
build/

##################################
# Virtual Environments
##################################
venv/
venv
.env/
.env.*
.venv/

##################################
# Jupyter / Notebooks
##################################
.ipynb_checkpoints/

##################################
# PyTorch / YOLO / ML Artifacts
##################################
*.pt
*.pth
*.onnx
*.engine
*.weights

results/
runs/
wandb/

##################################
# Datasets & Generated Data
##################################
data/raw/
data/processed/
data/samples/

# keep directory structure
!data/.gitkeep

##################################
# Logs & Temp Files
##################################
*.log
logs/
tmp/
temp/

##################################
# OS / Editor
##################################
.DS_Store
Thumbs.db

##################################
# VS Code
##################################
.vscode/

##################################
# Docker
##################################
docker/*.log

##################################
# Testing
##################################
.pytest_cache/
.coverage
htmlcov/

##################################
# SQLite / Local DB
##################################
*.db
*.sqlite3

##################################
# FastAPI / Uvicorn
##################################
uvicorn.log

venv/
